.metadata/
Lab01/.classpath
Lab01/.project
Lab01/bin/
Lab01/.settings/
Lab02/.classpath
Lab02/.project
Lab02/bin/
Lab02/.settings/
Lab03/.classpath
Lab03/.project
Lab03/bin/
Lab03/.settings/
Lab04/.classpath
Lab04/.project
Lab04/bin/
Lab04/.settings/
Lab05/.classpath
Lab05/.project
Lab05/bin/
Lab05/.settings/
Lab06/.classpath
Lab06/.project
Lab06/bin/
Lab06/.settings/
Homework01/.classpath
Homework01/.project
Homework01/bin/
Homework01/.settings/
Lab07/.classpath
Lab07/.project
Lab07/bin/
Lab07/.settings/
